<!DOCTYPE html>
<html>
<head>
    <title>GROUPON - {{ title }} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-md bg-success navbar-dark navbar-inverse">
    <a href="/" class="navbar-brand" style="font-family: 'Catamaran', sans-serif;">GROUPON</a>
    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav w-80">
            <form class="mx-3 my-auto d-inline w-100" role="form">
                <div class="input-group">
                    <input type="text" class="form-control fa fa-search" placeholder=" &#xf002;  Enter the Keyword ">
                    <span class="input-group-btn">
                <button class="btn btn-success" type="button">Search</button>
              </span>
                </div>
            </form>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_anonymous %}
                <li class="nav-item md-inline" style="border-right: 2px solid #3cb371 ">
                    <a class="nav-link" href="{{ url_for('login') }}">LOG IN <i class="fa fa-users"></i></a></li>
                <li class="nav-item md-inline">
                    <a class="nav-link" href="{{ url_for('register') }}"><i class="fa fa-sign-in"></i> SIGN UP</a>
                </li>
            {% else %}
                <li class="nav-item" style="border-right: 2px solid #3cb371 ">
                    <a class="nav-link" href="{{ url_for('register') }}">Shopping Cart</a>
                </li>
                <li class="nav-item" style="border-right: 2px solid #3cb371 ">
                    <a class="nav-link" href="{{ url_for('home') }}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">LOG OUT</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<!--
faded
-->
<nav class="navbar navbar-expand-sm bg-white navbar-light">
    <div class="navbar-collapse collapse navbars" id="navbar1">
        <ul class="navbar-nav nav-pills nav-justified w-100">
            <li class="nav-item">
                <a class="nav-link  py-1" href="{{ url_for('home') }}">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  py-1" href="{{ url_for('ttd') }}">Things To Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="{{ url_for('bas') }}">Beauty &amp; Spas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="{{ url_for('loc') }}">Local</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown">Goods
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('goo') }}">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="{{ url_for('stp') }}">Staff Picks</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}
<hr/>
<footer>
    <p>&copy; {{ year }} - Kane Miko Emiri</p>
</footer>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
