{% extends "layout.html" %}
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
{% block content %}
    <div class="row w-100">
        <div class="col-md-9">
            <div class="container">
                <h4 class="text-left">{{ title }}</h4>
                <br>
                <img src="{{ data.detail_img }}" style="width:50%;height:50%;">
            </div>
            <div class="container panel-default text-left">
                <div class="panel-title"><h4>Details</h4></div>
                <div class="panel-body"><h5>{{ data.detail_body }}</h5></div>
            </div>
        </div>
        <div class="col-md-3 align-self-center"><h3>Origina Price : <s>{{ it.original_price }}</s></h3>
            <br>
            <h2>Discount Price : {{ it.discount_price }}</h2>
            <br>
        </div>
    </div>
{% endblock %}
